<link rel="stylesheet" href="../styles/styles.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js"></script>

<body ng-app="">
<div class="container">


<div class="gamePlayGrid">



<!-- row zero - drop row -->

<div class="dropFieldGrid" ng-class="hoverClass0" ng-mouseenter="hoverClass0 = 'blue'" ng-mouseleave="hoverClass0=''" >


</div>
<div class="dropFieldGrid" ng-class="hoverClass1" ng-mouseenter="hoverClass1 = 'red'" ng-mouseleave="hoverClass1=''">
2
</div>
<div class="dropFieldGrid" ng-class="hoverClass2" ng-mouseenter="hoverClass2 = 'blue'" ng-mouseleave="hoverClass2=''">
3
</div>
<div class="dropFieldGrid" ng-class="hoverClass3" ng-mouseenter="hoverClass3 = 'blue'" ng-mouseleave="hoverClass3=''">
4
</div>
<div class="dropFieldGrid" ng-class="hoverClass4" ng-mouseenter="hoverClass4 = 'blue'" ng-mouseleave="hoverClass4=''">
5
</div>
<div class="dropFieldGrid" ng-class="hoverClass5" ng-mouseenter="hoverClass5 = 'blue'" ng-mouseleave="hoverClass5=''">
6
</div>
<div class="dropFieldGrid" ng-class="hoverClass6" ng-mouseenter="hoverClass6 = 'blue'" ng-mouseleave="hoverClass6=''">
7
</div>



<!-- row one -->
  <div class="playingFieldGrid" >
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row two -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row three -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row four -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>



<!-- row five -->
  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>


<!-- row six -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>



</div>






</div>


</body>
