<link rel="stylesheet" href="../styles/styles.css" />
<script src="../vendors/angular.min.js" charset="utf-8"></script>

<div class="container">


<div class="gamePlayGrid">



<!-- row zero - drop row -->

<div class="dropFieldGrid" ng-class="hoverClass" ng-mouseover="hoverClass = 'blue'">
1
</div>
<div class="dropFieldGrid">
2
</div>
<div class="dropFieldGrid">
3
</div>
<div class="dropFieldGrid">
4
</div>
<div class="dropFieldGrid">
5
</div>
<div class="dropFieldGrid">
6
</div>
<div class="dropFieldGrid">
7
</div>



<!-- row one -->
  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row two -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row three -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>

<!-- row four -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>



<!-- row five -->
  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>


<!-- row six -->

  <div class="playingFieldGrid">
a
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
b
  </div>
  <div class="playingFieldGrid">
d
  </div>
  <div class="playingFieldGrid">
e
  </div>
  <div class="playingFieldGrid">

  </div>
  <div class="playingFieldGrid">

  </div>



</div>






</div>
