<div class="loginMain">
  <div id="loginCenter">


    <div id="loginLogo"><img id="bulletinLogo" src="/images/bulletin-white-transparent.png" /></div>
    <div><input  placeholder="username" id="username" /></div>
    <div><input  placeholder="password" type="password" id="password" /></div>
    <button ng-click="loginCtrl.login()" id="loginSubmit" >Log in</button>
    <p id="forgot">Forgot your Password?</p>
  </div>
  <div id="loginFooter">

      Don't have an account? Create one.

  </div>
</div>
