<div class="loginMain" ng-swipe-right="loginCtrl.swipe()">
  <div id="loginCenter">


    <div id="loginLogo"><img id="bulletinLogo" src="/images/bulletin-white-transparent.png" /></div>
    <form>

      <div><input  ng-model="loginCtrl.username" placeholder="username" id="username" /></div>
      <div><input  ng-model="loginCtrl.password" placeholder="password" type="password" id="password" /></div>
      <button type="submit" ng-click="loginCtrl.login()" id="loginSubmit" >Log in</button>
    </form>
    <p id="forgot"><button ng-click="loginCtrl.forgot()" id="forgot">Forgot your Password?</button></p>
    <div id="loginFooter">

        <p>
        Don't have an account? <a href="/register">Create one.</a>
        </p>

    </div>
  </div>
</div>
