<div ng-show="photoCtrl.picContainer" id="picContainer" ng-click="photoCtrl.picContainer=false">
  <div id="picContainerPic">
    <img  ng-src="{{photoCtrl.pic}}" src="{{photoCtrl.pic}}"/>
  </div>
</div>


<header class="container-fluid">
  <button ng-click="photoCtrl.backToRoom()" class="col-xs-3 addButton fa fa-arrow-left"></button>
  <!-- <button ng-click="roomCtrl.editProfile()" class="profileButton fa fa-user-circle"></button> -->
  <span id="photoHeader">bulletin board</span>
</header>
<div class="spacer"></div>

<div id="photosContainer" >
<ul id="photos" >
  <li  ng-repeat="message in photoCtrl.messages | orderBy: -message.date:true" ng-if="message.pic!=null||message.gif!=null">
    <img ng-click="photoCtrl.imageZoom(message.pic.location)" src="{{message.pic.location}}" ng-src="{{message.pic.location}}" ng-if="message.pic!=null"/>
    <img ng-click="photoCtrl.imageZoom(message.gif)" src="{{message.gif}}" ng-src="{{message.gif}}" ng-show="message.gif&&message.gif!='null'"/>
  </li>
</ul>
</div>
