<header class="container-fluid" ng-init="roomCtrl.getMessages()">
  <button ng-click="roomCtrl.backToInbox()" class="addButton fa fa-arrow-left"></button>
  <button ng-click="roomCtrl.photoView()" class="profileButton fa fa-picture-o"></button>
</header>
<div scroll-glue-bottom="glued" id="chatMessages">
  <ul id="messages" scroll-glue-bottom="glued" >
    <li ng-class="{floatRight: message.sender== roomCtrl.roomUser.username}" ng-repeat="message in roomCtrl.messages track by $index" repeat-end="roomCtrl.onEnd()">
      <span id="messageSender" class="messageText" ng-show="message.sender!= roomCtrl.roomUser.username && !message.userPic ">{{message.sender}}: </span>
      <div id="messageSenderPicDiv" style="background-image:url({{message.userPic}})" ng-click="roomCtrl.profileInfo(message.sender)"  ng-show="message.userPic && message.sender!= roomCtrl.roomUser.username">

      </div>

      <!-- <br ng-show="message.sender!= roomCtrl.roomUser.username"/> -->
      <span id="messageMessage"  ng-show="message.text!='' &&message.text!=undefined&&message.text!=null"class="messageText">{{message.text}}</span>
      <img class="messagesPicture" ng-show="message.pic" src="{{message.pic.location}}" ng-src="{{message.pic.location}}" />
      <img class="messagesPicture" ng-show="message.gif" src="{{message.gif}}" ng-src="{{message.gif}}" />
     </li>
  </ul>
</div>

<form name="messageForm" id="messageSend" ng-submit="messageForm.$valid" action="">
  <input id="m" ng-model="roomCtrl.message" autocomplete="off" />
  <button id="gifButton" ng-click="roomCtrl.showGifStuff($event)" class=" fa fa-film"></button>
  <button class="fa fa-file-image-o" id="selectDiv" ngf-select ng-model="roomCtrl.file" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="20MB" ngf-min-height="100"  ngf-resize="{width: 500, height: 500}">
              <!-- <button class="fa fa-file-image-o"></button> -->
              <span ng-show="roomCtrl.file" id="fileName"> {{roomCtrl.file.$ngfName}} </span> <img ng-show="roomCtrl.file" id="fileThumb" ngf-thumbnail="roomCtrl.file ">
  </button>
  <button type="submit" ng-submit="messageForm.$valid" class="fa fa-paper-plane" ng-click="roomCtrl.send($event,roomCtrl.message)"></button>
</form>

<div id="senderProfileContainer" ng-click="roomCtrl.hideSenderStuff()" ng-show="roomCtrl.show">
  <div id="senderProfileText">
    <img id="senderPic" src="{{roomCtrl.senderPic}}" ng-src="{{roomCtrl.senderPic}}"/>

    <p class="senderStuff" id="senderUsername">Username: {{roomCtrl.senderUsername}}</p>
    <p class="senderStuff" id="senderName">Name: {{roomCtrl.senderFirstName}} {{roomCtrl.senderLastName}}</p>
    <p class="senderStuff" id="senderEmail">Email: {{roomCtrl.senderEmail}}</p>
    <p class="senderStuff" id="senderBio">Bio: {{roomCtrl.senderBio}}</p>
  </div>
</div>

<div id="gifSearchContainer"  ng-show="roomCtrl.gifShow" ng-init="roomCtrl.gifShow=false">
  <div id="gifSearch">
    <ul>
      <li class="gifItem" ng-repeat="gif in roomCtrl.gifList">
        <img ng-click="roomCtrl.addGif(gif.images.original.url)" src="{{gif.images.original.url}}" ng-src="{{gif.images.original.url}}" />

      </li>
    </ul>
    <form name="gifSearchForm" id="gifSearchForm" ng-submit="gifSearchForm.$valid" action="">
      <button id="cancelGifSearch" ng-click="roomCtrl.gifShow=false">cancel</button>
      <input id="gifSearchInput" ng-model="roomCtrl.gifSearchInput" autocomplete="off" />
      <button id="gifButtonSearch" ng-click="roomCtrl.searchForGif($event)" value="search">search</button>
    </form>
  </div>
</div>
