body {
  background-color: ghostwhite;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


.gamePlayGrid, .playingFieldGrid {
  border-radius: 3px;
  border: 1px solid purple;

}

.gamePlayGrid {
  height: 600px;
  width: 700px;
}




.dropFieldGrid {
  border-radius: 50%;
  /*background-color: green;*/
  height: 98px;
  width: 98px;
  border: 1px solid black;
  box-shadow: inset 0 0 0 1px yellow;
  float: left;
}

.blue {
  background-color: blue;
  box-shadow: inset 0 0 0 3px darkblue;
}

.red {
  background-color: red;
  box-shadow: inset 0 0 0 3px darkred;
}

.dropFieldGrid:hover {

}



.playingFieldGrid {
  height: 80px;
  width: 80px;
  border: 10px solid yellow;
  box-shadow:  0 0 0 2px gold;
  float: left;
}
