@font-face {
    font-family: leagueSpartan;
    src: url(/fonts/LeagueSpartan-Bold.otf);
}
html, body,.view-animate-container,.view-animate {margin: 0; height: 100%; width:100%;overflow: scroll;background-color: #eee;}
*:focus {
    outline: none;
}
::-webkit-scrollbar { display: none; }

/*profilebutton class wouldn't work if placed lower in doc, is for roomview*/
.profileButton{
  background-color: transparent;
  border:none;
margin:10px;
  font-size:4.28em;
  color:white;
  float:right;
  margin-right:-5px;
  padding-top:5px;
}
/*----------------------LOGIN PAGE--------------------*/



.loginMain{
  /*display:flex;*/
  /*align-content:center;*/
  /*justify-content: center;*/
height:100%;
  background: #1f0077; /* Old browsers */
  /*background: -moz-linear-gradient(top,  #1f0077 0%, #6e46bd 50%, #1f0077 100%);
  background: -webkit-linear-gradient(top,  #1f0077 0%,#6e46bd 50%,#1f0077 100%);
  background: linear-gradient(to top,  #1f0077 0%,#6e46bd 50%,#1f0077 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1f0077', endColorstr='#1f0077',GradientType=1 );*/

}
#username,#password,#loginSubmit,#newContact{
  line-height: 25px;
  font-size:16px;
  margin-top:20px;
  width:75%;
  text-align: center;
}
#username,#password,#newContact{
  background-color:transparent;
  border:none;
  border-bottom:3px solid white;

  color:white;
}
::-webkit-input-placeholder {
   color: white;
   font-family:"Helvetica",sans-serif;
   font-weight: 100;
   font-size:1.2em;
}
#loginCenter{
  position:fixed;

  bottom:55%;
  left:12.5%;

  width:75%;
  background-color: transparent;
  /*margin-left:-100px;*/
  margin-bottom:-60%;
  text-align: center;

}
#loginLogo{
  font-size:3em;
}
#bulletinLogo{
  height:100%;
  width:100%;
}
#loginSubmit{
  border:none;
  background-color: #1a0055;
font-size:20px;

  color:white;
}
#forgot{
  font-size:13px;

  margin-top:10px;
}
#loginFooter{
  position:absolute;
  text-align: center;
  font-size:20px;
  color:white;
  top:95%;
  width:100%;
  margin-bottom:10px;

}
#loginFooter a{
  color:white;
  text-decoration: underline;
}
#forgot{
  color:white;
  background-color: transparent;
  border:none;
}

/*---------------------------END LOGIN--------------------------*/
/*---------------------------register--------------------------*/


.regMain{
  height:100%;
  background: #1f0077;
}
#regCenter{
  position:fixed;

  top:50%;
  left:12.5%;

  width:75%;
  background-color: transparent;
  /*margin-left:-250px;*/
  margin-top:-80%;
  text-align: center;

}
#regSubmit{
  line-height: 30px;
  font-size:20px;
  margin-top:20px;
  width:75%;
  text-align: center;
  border:none;
  background-color: #1a0055;
  font-size:20px;

  color:white;
}
.backButton{
  font-size:30px;
  color:white;
  margin:10px;
}

/*---------------------------end register--------------------------*/
/*---------------------------INBOX--------------------------*/
.addButton{
  background-color: transparent;
  border:none;
  margin:10px;
  font-size:4.28em;
  color:white;
  margin-left:-10px;
  padding-top:5px;
}


.profilePicButton{
  background-color: transparent;
  border:none;
  font-size:4em;
  color:white;
  float:right;
  margin:5px;
  height:75px;
  width:75px;
  border-radius:50%;
  overflow:hidden;
  background-position-x:center;
  background-position-y:center;
  background-position:center;
  background-size:cover;
}


.spacer{
  height:85px;
  width:100%;
}
#roomPicPlaceholder{
  color: rgb(31, 0, 119);
  font-size:3em;
  margin:none;
  margin-top:20px;

}
header{
  background-color: rgb(31, 0, 119);
  /*position:fixed;*/
  width:100%;
  position:fixed;
  z-index:2;

}
#addContainer{
  height:100%;
  width:100%;
  background-color: rgba(0, 0, 0, 0.60);
  color:white;
  position:fixed;
  top:0px;
  opacity:1;
  z-index:3;
  padding:10px;
}
#coverUp{
  height:100px;
  width:100px;
  background-color:black;
}
#addContainer.ng-hide {
  top:-100%;
  opacity:0;
}

#addContainer.ng-hide-add,
#addContainer.ng-hide-remove {
  transition: all ease 0.5s;
}
.addSomethingButton{
  padding:10px;
  text-align: center;
  margin-top:20%;
  height:30%;
  border:5px solid white;
  border-radius:50px;
  background-color: transparent;
  color:white;

  width:100%;
  font-family:"Helvetica",serif;
  font-weight:100;
  font-size:40px;
}
.convo{
background-color: white;
  height:100px;
  margin-top:-2px;
}
img{
  height:100%;
  display:block;
  /*margin-left:auto;*/
}
.roomPic{
  float:left;
  height:70px;

  width:70px;
  margin:5px;
  margin-top:15px;
  margin-left:-5px;
  /*border-radius:50%;*/
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  overflow:hidden;


}
.clearfix::after{
  content:"";
  clear:both;
  display:table;
}
.messageContent{
float:left;

}
.messageContentRoom{
  margin-top:20px;
  font-size:20px;
  font-family:"leagueSpartan",serif;

}
.messageContentPreview{
  font-size:20px;
  font-family:"Helvetica",serif;
  font-weight:100;
}


#convoHeader{
  text-align: center;
}


/*---------------------------END INBOX--------------------------*/
/*---------------------------New Contact--------------------------*/
.newContactMain{
background-color: #1f0077;
height:100%;
}
#newConvoBack{
  float:left;
  font-size: 60px;
}

/*---------------------------END New Contact--------------------------*/
/*---------------------------New Convo--------------------------*/
#contactFilter{
  line-height: 35px;
  font-size:20px;
  width:80%;
  margin:10px 10%;
  text-align: center;
  border:none;
  /*border-bottom: 3px solid white;*/
  background-color: white;
  border-radius:30px;
  color:black;
  /*margin-left:50px;*/
}
#contactFilter::-webkit-input-placeholder {
   color:black;
   font-family:"Helvetica",sans-serif;
   font-weight: 100;

}
.contactUsername{
  margin-top:0.6em;
  font-size:2em;
  font-family:"leagueSpartan",serif;

}
#searchForContact{
   position: fixed; bottom: 0;
  background-color: #1f0077;
  width:100%;
z-index:2;
  border-bottom:none;
}
#usersToAddToRoom{
  line-height: 30px;
  font-size:20px;
  color:white;
  display:inline-block;
  width:50%;
  padding:0px;
  -webkit-padding-start: 0px;
}
#usersToAddToRoom li{
  display:inline;
}
#newRoomButton{
  background-image: url(/images/bulletstransparent.png);
  width:85px;
  height:85px;
  display:inline;
  float:right;
  background-size:contain;
  /*background-color: transparent;*/
}

/*---------------------------END New Convo--------------------------*/
/*---------------------------Edit Profile--------------------------*/
#editProfile{
  background-color: #1f0077;
  height:100%;
color:white;
line-height: 22px;
font-size:18px;
display:flex;
flex-direction:column;
justify-content:space-around;
align-items: center;
}
#profileUsername{
  font-size: 35px;
  color:white;
  /*margin-top:20px;*/
  /*padding-top:15px;*/
  text-align: center;
}
.profileInput{
  line-height: 22px;
  font-size:18px;
  width:65%;
  text-align: center;
  background-color:transparent;
  border:none;
  border-bottom:2px solid white;
/*position:absolute;*/
  color:white;

z-index:2;
}

.profileInput:focus{
  border-bottom:3px solid white;
}

.profileInputDiv{
  /*position:relative;*/
text-align: center;
width:100%;
}
.profileP{
font-family:"leagueSpartan",serif;
/*position:absolute;*/
line-height: 22px;
font-size:18px;
width:75%;
color: black;

}
#firstName{
/*padding-top:150px;*/
}
#lastName{
/*padding-top:5px;*/
}
#email{
  /*padding-top:5px;*/
}
#bio{
  /*padding-top:5px;*/

}
#profileEditButtonGroup{width:65%;}
.profileEditButton{
  line-height: 22px;
  font-size:18px;
  width:100%;
  text-align: center;
  border:none;
  background-color: #1a0055;
  color:white;
  position:relative;
  /*left:12.5%;*/


}
#cancelNewProfile,#logOutProfile{
  margin-top:8px;
}
.editProfileLabel{

  line-height: 22px;
  font-size:18px;
  width:75%;
  text-align: center;
  border:none;
  color:white;

}
#profilePicSelect{ font-size:5em; border:none; display:block;background-color:transparent; overflow:hidden; width:100%; text-align: center;  }
#profilePicSelect img{height:150px;width:auto;margin: 0 auto;}
#profilePicSelect span{font-size:0.3em; line-height: 1.5em; z-index:4;}
.fileGreen{color:#ddd;}
#
/*---------------------------END edit profile--------------------------*/
/*---------------------------room view--------------------------*/







#fileName{
  position:absolute;
  bottom:60px !important;
  font-size:30px;
  z-index:5;
  color:black;
background-color: white;
right:100px !important;
}
#fileThumb{
  position:absolute;
  bottom:60px;
  font-size:30px;
  z-index:5;
  width:100px;
  height:auto;
  right:00px;
  background-color:transparent;
  border:none;
}
#selectDiv span{
  position:absolute;
  bottom:60px;
  font-size:20px;
  z-index:5;
  color:black;
background-color: white;
right:100px;
padding:20px;
font-family:"Helvetica",sans-serif;
}

  #messageSend { z-index: 6;background-color: #1f0077; line-height: 30px; font-size:20px; padding: 3px; position: fixed; bottom: 00px; width: 100%; }
  #messageSend input { border: 0; padding: 5px; width: 64%; margin:5px; border-radius:25px;}
  #messageSend button { background-color:transparent; width: 9%; color:white; height: 100%; border: none; padding: 10px;margin-right:1%; }
 #gifButton{  background-position: center; background-size:cover;
   background-color:transparent; width: 9%; color:white; height: 100%; border: none; padding: 10px; }

  #selectDiv{ background-color:transparent; overflow:hidden; display:inline; height: 100%; width: 9%; color:white; padding: 10px; }
  /*#selectDiv button{height:100%; width:100%; display:inline; width:9%; border:none;}*/
  #chatMessages{overflow:auto; width: 100%; position:absolute; bottom:60px; top:85px;background-color: #eee}
  #messages { height:auto;  list-style-type: none; margin: 0; padding: 0; line-height: 20px; font-size:18px;}
  .messagesPicture{height:200px;margin-left:50px;border-radius:30px;}

  #messages li { padding: 5px 0px; display:block;background-color: #eee;height:auto;}
  #messageSender{ padding:none; background-color:transparent;font-family:"leagueSpartan",serif;}
  #messageMessage{margin-left:0px; display:inline-block;border-radius:10px;}
  .messageText{padding:10px;background-color:white;}
  /*#messages li:nth-child(odd) { background: #eee; }*/
  .floatRight{text-align: right; margin-right:10px; }
  .floatRight img{margin-left:auto !important;margin-right:10px;}
  .floatRight span{background-color:#ccc !important;}
  #messageSenderPicDiv{
    display:inline-block;
    margin-left:10px;
    height:50px;
    width:50px;
    background-position: center;
    border-radius:50%;
    background-size:cover;
  }
  #senderProfileContainer{
  height:100%;
  width:100%;
  position:fixed;
  z-index:5;
  left:0px;
  }
  #senderPic{

  height:auto;
  width:95%;
  margin-bottom:10px;
  border-radius: 30px;
  }
  #senderProfileText{
    padding:10px;
    margin-top:25%;
    font-size:16px;
    background-color: #1f0077;
    color:white;
    font-weight: 200;
    width:65%;
    padding-left:15px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
  }
  #senderProfileContainer.ng-hide {
    /*top:-100%;*/
    /*opacity:0;*/
    left:-100%;
  }


  #senderProfileContainer.ng-hide-add,
  #senderProfileContainer.ng-hide-remove{
    transition: all ease 0.5s;
  }
#gifSearchContainer{
  position:fixed;
  height:70%;
  width:100%;

  bottom:0px;
  z-index:4;
}
#gifSearch{
  position:absolute;
  bottom:56px;
  width:100%;

  background-color:rgba(68, 68, 68, 0.75);

}

#gifSearchForm{text-align: center;}
#gifSearchInput{ z-index:5;border: 0; padding: 5px; width: 50%; margin:5px;  margin-bottom:10px; border-radius:25px;}
#gifButton{;background-color:transparent;  width:auto;color:white; height: 100%;  }
#gifButtonSearch{ z-index:5;background-color:transparent;  width:auto;color:white; height: 80%; border: 2px solid white; border-radius:20px;padding: 3px 10px; margin:5px;margin-bottom:10px; }
#cancelGifSearch{ z-index:5;background-color:transparent;  width:auto;color:white; height: 80%; border: 2px solid white; border-radius:20px;padding: 3px 10px; margin:5px;margin-bottom:10px; display:inline-block;}


  #gifSearchContainer.ng-hide {
    /*top:-100%;
    opacity:0;*/
    bottom:-100%;
  }
#gifSearch ul{
  max-height:150px;
  overflow-x: auto;
  overflow-y:hidden;
  width:100%;
  margin-left:10px;
  white-space: nowrap;

}
.gifItem{
  margin-left: 0px;
  height:150px;
  width:auto;
  display:inline-block;
  margin-right:10px;
}

  #gifSearchContainer.ng-hide-add,
  #gifSearchContainer.ng-hide-remove{
    transition: all ease 0.5s;
  }




  /*---------------------------END room view--------------------------*/

  /*---------------------------photo view--------------------------*/
#photoHeader{
  font-size:2em;
  float:right;
  font-family:"leagueSpartan",serif;
  color:white;
  margin-top:1em;
  margin-right:0.5em;
}
  #photosContainer{
width:100%;
  }
  #photos{
    padding:0;
    -moz-column-count: 3;
    -moz-column-gap: 10px;
    -webkit-column-count: 3;
    -webkit-column-gap: 10px;
    column-count: 3;
    column-gap: 10px;
    width: 100%;
  }

  #photos img{
  	display: inline-block;
  	margin-bottom: 10px;
  	width: 100%;
  }
  #photos img:hover{
    cursor:pointer;
  }

  #picContainer{
    max-height:100%;
    max-width:100%;
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.60);
    color:white;
    position:fixed;
    top:0px;
    opacity:1;
    z-index:3;

  }
  #picContainerPic{
  text-align:center;
    height:100%;
    width:100%;
    position:absolute;
    top:15%;
  }
  #picContainer img{
    width:100%;
    height:auto;
  }
  #picContainer.ng-hide {
    /*top:-100%;*/
    opacity:0;
  }
  #picContainerPic.ng-hide {
    top:-100%;

  }

  #picContainer.ng-hide-add,
  #picContainer.ng-hide-remove,
  #picContainerPic.ng-hide-add,
  #picContainerPic.ng-hide-remove {
    transition: all ease 0.5s;
  }
  .picZoom{
    position:fixed;
    width:100%;
    height:auto;
    left:0;
    top:15%;
    z-index:4;
  }

    /*---------------------------END photo view--------------------------*/
